<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTestsSuite" verbose="2" parallel="false" thread-count="1">
    <test name="DoneProjectTests">
        <packages>
            <package name="tests.DoneProject.login"/>
            <package name="tests.DoneProject.projects"/>
            <package name="tests.DoneProject.roles"/>
            <package name="tests.DoneProject.sectors"/>
            <package name="tests.DoneProject.tasks"/>
            <package name="tests.DoneProject.users"/>
            <package name="tests.DoneProject.recurringtask"/>
        </packages>
    </test>
</suite>
